# dictionary dtata type

In [4]:
#creating empty dictionary

dict_empty={}
print(dict_empty)

{}

In [12]:
#comman useage
stu={
     "name":"reddy",     #key:value
      "age":21,
      "height":5.7
     }

In [26]:
#access the elements

emp={"name":"vasu",
     "age":50,
     "emp_id":734,
     "salary":60000
    }
print(emp["name"])
print(emp["emp_id"],emp["salary"])

vasu
734 60000

In [32]:
#modifying and adding elements

marks={"maths":79,"physics":90,"chemistry":85}
#modify
marks["maths"]=95
print(marks)

{'maths': 95, 'physics': 90, 'chemistry': 85}

In [34]:
marks["chemistry"]=70
print(marks)

{'maths': 95, 'physics': 90, 'chemistry': 70}

In [42]:
#adding

stu={"name":"vasu",
     "age":21,
     "class":"b.tech"
    }
stu["gender"]="male"
print(stu)

{'name': 'vasu', 'age': 21, 'class': 'b.tech', 'gender': 'male'}

In [40]:
stu["roll.no"]=734
print(stu)

{'name': 'vasu', 'age': 21, 'class': 'b.tech', 'gender': 'male', 'roll.no': 734}

In [64]:
#dictionary methos()
#get()

scores = {
    'Physics': 67, 
    'Maths': 87,
    'History': 75
}
result=scores.get('Physics')
print(result)

result1=scores.get('History')
print(result1)

person = {'name': 'Phill', 'age': 22}
print(person.get('name'))
print(person.get('age'))

print(person.get('salary'))
print(person.get('salary',60000))

person = {}
print(person.get('salary'))
print(person['salary'])     #using[]

67
75
Phill
22
None
60000
None

KeyError: 'salary'

In [94]:
#key()

numbers = {1: 'one', 2: 'two', 3: 'three'}
dictionaryKeys = numbers.keys()

print(dictionaryKeys)

scores = {
    'Physics': 67, 
    'Maths': 87,
    'History': 75
}
dict_keys=scores.keys()
print(dict_keys)

employee = {'name': 'Phill', 'age': 22, 'salary': 3500.0}

dictionaryKeys = employee.keys()

print(dictionaryKeys)

dict_keys([1, 2, 3])
dict_keys(['Physics', 'Maths', 'History'])
dict_keys(['name', 'age', 'salary'])

In [98]:
#values

marks = {'Physics':67, 'Maths':87}

print(marks.values())

sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

print(sales.values())

sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

values = sales.values()

print('Original items:', values)

# delete an item from dictionary
del[sales['apple']]

print('Updated items:', values)

dict_values([67, 87])
dict_values([2, 3, 4])
Original items: dict_values([2, 3, 4])
Updated items: dict_values([3, 4])

In [102]:
#items()

marks = {'Physics':67, 'Maths':87}

print(marks.items())

sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

items = sales.items()

print('Original items:', items)

# delete an item from dictionary
del[sales['apple']]

print('Updated items:', items)

dict_items([('Physics', 67), ('Maths', 87)])
Original items: dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])
Updated items: dict_items([('orange', 3), ('grapes', 4)])

In [114]:
#pop()

marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }
element = marks.pop('Chemistry')
print( element)

sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

element = sales.pop('apple')

print(element)
print(sales)

sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
element = sales.pop('guava')
print(elements)

72
2
{'orange': 3, 'grapes': 4}

KeyError: 'guava'

In [120]:
#popitems()

person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}
result = person.popitem()

print(result)
print(person)

person['profession'] = 'Plumber'

print('Return Value = ', result)
print('person = ', person)

('salary', 3500.0)
{'name': 'Phill', 'age': 22}
Return Value =  ('salary', 3500.0)
person =  {'name': 'Phill', 'age': 22, 'profession': 'Plumber'}

In [128]:
#update

marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48}
marks.update(internal_marks)
print(marks)

d = {1: "one", 2: "three"}
d1 = {2: "two"}
# updates the value of key 2
d.update(d1)
print(d)

d1 = {3: "three"}
# adds element with key 3
d.update(d1)
print(d)

dictionary = {'x': 2}

dictionary.update([('y', 3), ('z', 0)])
print(dictionary)

{'Physics': 67, 'Maths': 87, 'Practical': 48}
{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}
{'x': 2, 'y': 3, 'z': 0}

In [132]:
#clear()

# dictionary
numbers = {1: "one", 2: "two"}
numbers.clear()
print(numbers)

cityTemperature = {"New York": 18, "Texas": 26}
print("Dictionary before clear():", cityTemperature)

# removes all the items from the dictionary
cityTemperature.clear()
print("Dictionary after clear():", cityTemperature)

{}
Dictionary before clear(): {'New York': 18, 'Texas': 26}
Dictionary after clear(): {}

In [136]:
#copy()

original_marks = {'Physics':67, 'Maths':87}
copied_marks = original_marks.copy()

print('Original Marks:', original_marks)
print('Copied Marks:', copied_marks)

original = {1:'one', 2:'two'}
new = original.copy()

print('Orignal: ', original)
print('New: ', new)

Original Marks: {'Physics': 67, 'Maths': 87}
Copied Marks: {'Physics': 67, 'Maths': 87}
Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two'}

In [140]:
#fromkeys()

# keys for the dictionary
alphabets = {'a', 'b', 'c'}
number = 1

# creates a dictionary with keys and values
dictionary = dict.fromkeys(alphabets, number)
print(dictionary)

# set of vowels
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'

# creates a dictionary with keys and values
vowels = dict.fromkeys(keys, value)
print(vowels)

{'b': 1, 'a': 1, 'c': 1}
{'o': 'vowel', 'e': 'vowel', 'u': 'vowel', 'a': 'vowel', 'i': 'vowel'}