# set data type

In [2]:
#creating empty set

the_set=()
print(the_set)

()

In [18]:
#creating set

animals={"tiger","lion","cheeta","kong"}
print(animals)
my_set={3,6,9,4,0,7}
print(my_set)
mixed_set={20,"vasu",10.2,-60}
print(mixed_set)
lang={"python","c","c++","java"}
print(lang)

print(type(animals))
print(type(my_set))
print(type(mixed_set))
print(type(lang))

{'kong', 'lion', 'cheeta', 'tiger'}
{0, 3, 4, 6, 7, 9}
{10.2, -60, 20, 'vasu'}
{'c', 'java', 'python', 'c++'}
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [20]:
#duplicate set

numbers={1,2,3,4,1,2,3,4,6,7,8,6,7,8}
print(numbers)

my_set={"vasu","venu","vasu","ramu","ramu"}
print(my_set)

{1, 2, 3, 4, 6, 7, 8}
{'ramu', 'venu', 'vasu'}

In [38]:
#Add

numbers={60,56,1,3,4,6,90,}
my_set={"vasu","ramu"}
print(numbers)
print(my_set)

#use add() method
numbers.add(111)
my_set.add("venu")
print('added set :', numbers)
print("added set :", my_set)

{1, 3, 4, 6, 56, 90, 60}
{'ramu', 'vasu'}
added set : {1, 3, 4, 6, 56, 90, 60, 111}
added set : {'ramu', 'venu', 'vasu'}

In [42]:
#update()

fruits = {'apple','banana','orange'}
mixed = {42, "hello", 3.14, -30}
fruits.update(mixed)
print(fruits)

A = {'a', 'b'}
B = {1, 2, 3}
A.update(B)
print(A)

{'banana', -30, 3.14, 42, 'hello', 'orange', 'apple'}
{'b', 'a', 1, 2, 3}

In [54]:
#remove()

strings = {"apple", "banana", "cherry"}
strings.remove('cherry')
print(strings)

languages = {'Python', 'Java', 'English'}
languages.remove('English')
print(languages)

#using discard()
my_float = {1.1, 2.2, 3.3, 4.4, 5.5}
my_float.discard(5.5)
print(my_float)

{'banana', 'apple'}
{'Java', 'Python'}
{1.1, 2.2, 3.3, 4.4}

In [56]:
animal = {'cat', 'dog', 'rabbit', 'guinea pig'}

# Deleting 'fish' element
animal.remove('fish')

# Updated animal
print('Updated animal set:', animal)

KeyError: 'fish'

In [52]:
numbers = {2, 3, 5, 4}
print('Set before discard:', numbers)

# discard the item that doesn't exist in set
numbers.discard(10)
print('Set after discard:', numbers)

Set before discard: {2, 3, 4, 5}
Set after discard: {2, 3, 4, 5}

In [70]:
#sets operations
#union()

A = {2, 3, 5}
B = {1, 3, 5}
print('A U B = ', A.union(B))
print('A U B = |:',A|B)

C = {"apple", "banana", "cherry"}
D = {"dog", "cat", "mouse"}
E = {"python","c","c++","java"}
print("c U D = |:", C|D)
print("C U D U E =|:", C|D|E)
print("union of C,D and E using of unoin function() :", C.union(D,E))

A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))

print('A.union() =', A.union())

A U B =  {1, 2, 3, 5}
A U B = |: {1, 2, 3, 5}
c U D = |: {'banana', 'cat', 'dog', 'cherry', 'apple', 'mouse'}
C U D U E =|: {'java', 'mouse', 'banana', 'python', 'cat', 'dog', 'cherry', 'c', 'apple', 'c++'}
union of C,D and E using of unoin function() : {'java', 'mouse', 'banana', 'python', 'cat', 'dog', 'cherry', 'c', 'apple', 'c++'}
A U B = {'a', 2, 'd', 'c'}
B U C = {1, 2, 3, 'd', 'c'}
A U B U C = {'a', 2, 1, 3, 'd', 'c'}
A.union() = {'a', 'd', 'c'}

In [72]:
#intersection

A = {"apple", "banana", "cherry","mouse",1.1,2.2,4.4}
B = {"dog", "cat", "mouse","banana","apple"}
C = {1, 2, 3, 4, 5}
D = {0.1, 0.2, 0.3, 0.4, 0.5,5.5,4.4,4}
E = {100, 200, 300, 700, 2, 3, 7}
F = {"python","c","c++","java"}

print('Intersection of A and B using &:',A & B)
print('Intersection of A and B using intersection() function:', A.intersection(B))
#Intersection of A,B and C
print('Intersection of A,B and C using &:', A&B&C)
print('Intersection of A,B and C using intersection(para1,para2) function:',A.intersection(B,C))
#Intersection of C,D and E
print('Intersection of C,D and E using chained intersection:', C.intersection(D).intersection(E))
print("Intersection of C,D and E using &:",C&D&E)
#Intersection of E and F
print('Intersection of E and F using &:', E&F)
print('Intersection of E and F using intersection function:', E.intersection(F))

Intersection of A and B using &: {'banana', 'apple', 'mouse'}
Intersection of A and B using intersection() function: {'banana', 'apple', 'mouse'}
Intersection of A,B and C using &: set()
Intersection of A,B and C using intersection(para1,para2) function: set()
Intersection of C,D and E using chained intersection: set()
Intersection of C,D and E using &: set()
Intersection of E and F using &: set()
Intersection of E and F using intersection function: set()

In [74]:
#difference 

A = {2, 3, 5}
B = {1, 3, 5}
C = {"apple", "banana", "cherry"}
D = {"dog", "cat", "mouse"}
E = {"python","c","c++","java"}
F = {'a', 'c', 'd'}

print('Difference of A and B using -:',A - B)
print('Difference of A and B using difference() function:', A.difference(B))
#Difference of A,B and C
print('Difference of A,B and C using -:', A-B-C)
print('Difference of A,B and C using difference(para1,para2) function:',A.difference(B,C))
#Difference of C,D and E
print('Difference of C,D and E using chained difference:', C.difference(D).difference(E))
print("Difference of C,D and E using -:",C-D-E)
#Difference of E and F
print('Difference of E and F using -:', E-F)
print('Difference of E and F using difference function:', E.difference(F))

Difference of A and B using -: {2}
Difference of A and B using difference() function: {2}
Difference of A,B and C using -: {2}
Difference of A,B and C using difference(para1,para2) function: {2}
Difference of C,D and E using chained difference: {'banana', 'cherry', 'apple'}
Difference of C,D and E using -: {'banana', 'cherry', 'apple'}
Difference of E and F using -: {'python', 'java', 'c++'}
Difference of E and F using difference function: {'python', 'java', 'c++'}

In [76]:
#symmertic difference()

A={-1,-2,-3,-4,-5}
B={-2,-4,-1,-6,-8}
C={"swift","audi","BNW","volvo","xuv"}
D={"audi","xuv","alto","breeza"}
E={0.1,2.3,7.6,4.8,9.2,3.7}
F={2.3,4.5,0.1,3.2,9.2}

print('using^:',A^B)
print('using^:',C^D)
print('using^:',E^F)
print('using of symmetric_difference :',A.symmetric_difference(B))
print('using of symmetric_difference:',C.symmetric_difference(D))
print('using of symmetric_difference:',E.symmetric_difference(F))

using^: {-8, -6, -5, -3}
using^: {'alto', 'volvo', 'swift', 'BNW', 'breeza'}
using^: {3.2, 4.5, 3.7, 4.8, 7.6}
using of symmetric_difference : {-8, -6, -5, -3}
using of symmetric_difference: {'alto', 'volvo', 'swift', 'BNW', 'breeza'}
using of symmetric_difference: {3.2, 4.5, 3.7, 4.8, 7.6}

In [78]:
#difference_update()

# sets of numbers
A = {1, 3, 5, 7, 9}
B = {2, 3, 5, 7, 11}

#  A - B and updates A with the resulting set
A.difference_update(B)

print('A = ', A)

A =  {1, 9}

In [82]:
#pop()

A = {'a', 'b', 'c', 'd'}
removed_item = A.pop()
print(removed_item)

A = {'10', 'Ten', '100', 'Hundred'}

# removes random item of set A
print('Pop() removes:', A.pop())

# updates A to new set without the popped item
print('Updated set A:', A)

b
Pop() removes: Hundred
Updated set A: {'100', '10', 'Ten'}

In [84]:
#clear()

# set of prime numbers
primeNumbers = {2, 3, 5, 7}

# clear all elements
primeNumbers.clear()
print(primeNumbers)

set()

In [88]:
#copy()

names = {"John", "Charlie", "Marie"}

# items of names are copied to new_names
new_names = names.copy()
print('Original Names: ', names)
print('Copied Names: ', new_names)

numbers = {1, 2, 3, 4}

# copies the items of numbers to new_numbers
new_numbers = numbers.copy()
print(new_numbers)

Original Names:  {'Charlie', 'Marie', 'John'}
Copied Names:  {'Charlie', 'Marie', 'John'}
{1, 2, 3, 4}

In [96]:
#isdisjoint()

A = {1, 2, 3, }
B = {4, 5, 6}

# checks if set A and set B are disjoint
print(A.isdisjoint(B))

A = {1, 2, 3}
B = {4, 5, 6}
C = {6, 7, 8}

print('A and B are disjoint:', A.isdisjoint(B))
print('B and C are disjoint:', B.isdisjoint(C))

True
A and B are disjoint: True
B and C are disjoint: False