# String Data Type

In [5]:
#String is a sequence of characters

str1='python'
str2="python"
str3='''python'''
str4="""python"""
print(str1)
print(str2)
print(str3)
print(str4)

python
python
python
python

In [53]:
#conccatenation

str1="web"
str2="technologies"
str3='data'
str4='science'
str5='''kalki'''
str6='''housefull'''
str7="google"
str8="microsoft"
str9="iam"
str10="vasundhar"
print(str1 +" "+ str2)
print(str3 +" "+ str4)
print(str5 +" "+ str6)
print(str7 +" "+ str8)
print(str9 +" "+ str10)

web technologies
data science
kalki housefull
google microsoft
iam vasundhar

In [29]:
#repetations

str1='''kalki housefull '''
print(str1 * 9)
str2= "vasundhar "
print(str2 * 10)

kalki housefull kalki housefull kalki housefull kalki housefull kalki housefull kalki housefull kalki housefull kalki housefull kalki housefull
vasundhar vasundhar vasundhar vasundhar vasundhar vasundhar vasundhar vasundhar vasundhar vasundhar

In [33]:
#indexing

str1="today my topic is strings"
print(str1[9]) #positive
print(str1[-7])  #negative

t
s

In [39]:
#slicing

str="today iam gonna learn about string"
substr1=str[6:21]
substr2=str[28:34]
print(substr1)
print(substr2)

iam gonna learn
string

In [51]:
#format of python

formatted_str=f"my name is {'vasu'} and iam {21} years old and my height is {5.7}"
print(formatted_str)

my name is vasu and iam 21 years old and my height is 5.7

In [49]:
name="vasu"
age=21
height=5.7
format_str=f"my name is {name} and iam {age} years old and my height is {height}"
print(format_str)

my name is vasu and iam 21 years old and my height is 5.7

In [59]:
#string method
#lenght()

str1="web"
str2="technologies"
str3='data'
str4='science'
str5='''kalki'''
str6='''housefull'''
str7="google"
str8="today iam gonna learn about string"
lenght1=len(str2)
print(lenght1)
lenght2=len(str5)
print(lenght2)
lenght3=len(str8)
print(lenght3)

12
5
34

In [69]:
#lower/upper case()

str1='science'
str2='''kalki'''
str3='''housefull'''
str4="google"
str5="today iam gonna learn about string"
str6="WEB"
str7="TECHOLOGIES"
str8='DATA'
print(str1.upper())
print(str3.upper())
print(str5.upper())
print(str6.lower())
print(str7.lower())
print(str8.lower())

SCIENCE
HOUSEFULL
TODAY IAM GONNA LEARN ABOUT STRING
web
techologies
data

In [75]:
#Strip
str1 = "   vasundhar    "
str2 = "         hello world       "
str3 = "    python 3.14.2    " # evaluates spaces only at the beginning and at the end of a string 
str4 = "\tjagan" #evaluates tab also
str5 = "  apple A5" # evaluates spaces only at the beginning and at the end of a string 
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
#strip()
print(str1.strip())
print(str2.strip())
print(str3.strip())
print(str4.strip())
print(str5.strip())

   vasundhar
         hello world
    python 3.14.2
	jagan
  apple A5
vasundhar
hello world
python 3.14.2
jagan
apple A5

In [77]:
#Replace
str1 = "Hello"
str2 = "World"
str3 = "Python3"
str4 = "Technology"
str5 = "Android 11.01"
# Replace "l" with "L" in str1
str1_replaced = str1.replace("l", "L")
print(str1_replaced)  
str2_replaced = str2.replace("o", "O")
print(str2_replaced) 
str3_replaced = str3.replace("3", "3.9")
print(str3_replaced)  
str4_replaced = str4.replace("Techno", "Bio")
print(str4_replaced)  
str5_replaced = str5.replace("11.01", "12.0")
print(str5_replaced)

HeLLo
WOrld
Python3.9
Biology
Android 12.0

In [79]:
#Split
string = "try and try until you get succed !" #Splits the words of a sentence separated with spaces
print(string.split())

['try', 'and', 'try', 'until', 'you', 'get', 'succed', '!']

In [81]:
#join 

string = ['Words', 'of', 'Wisdom', 'spoken', 'by', 'a', 'kid', '!']
print(' '.join(string))

Words of Wisdom spoken by a kid !

In [83]:
#casefold()

text = "pYtHon"

# convert all characters to lowercase
lowercased_string = text.casefold()

print(lowercased_string)

python

In [85]:
#count()

message = 'python is popular programming language'

# number of occurrence of 'p'
print(message.count('p'))

4

In [3]:
#capitalize()

str1="my is VASUNDHAR"
capitalize_str=str1.capitalize()
print(capitalize_str)

str2="data science"
capitalize_str=str2.capitalize()
print(capitalize_str)

My is vasundhar
Data science

In [9]:
#encode()

str1='python programming!'
encode_utf=str1.encode()
print(encode_utf)

b'python programming!'

In [17]:
#endswith()

str1="vasundhar is funny"
substr=str1.endswith("funny")
print(substr)

str2="python is fun"
substr=str2.endswith("fun")
print(substr)

str2="python is fun"
substr=str2.endswith("good")
print(substr)

True
True
False

In [19]:
#expandtabs()

str = "vasu\tgreat\tgreatest"
print('Original String:', str)

# tabsize is set to 2
print('Tabsize 2:', str.expandtabs(2))

# tabsize is set to 3
print('Tabsize 3:', str.expandtabs(3))

# tabsize is set to 4
print('Tabsize 4:', str.expandtabs(4))

# tabsize is set to 5
print('Tabsize 5:', str.expandtabs(5))

# tabsize is set to 6
print('Tabsize 6:', str.expandtabs(6))

Original String: vasu	great	greatest
Tabsize 2: vasu  great greatest
Tabsize 3: vasu  great greatest
Tabsize 4: vasu    great   greatest
Tabsize 5: vasu great     greatest
Tabsize 6: vasu  great greatest

In [27]:
#isalnum()

# contains either numeric or alphabet
str1 = "M234onica"
str4="P4563unam"
substr=str1.isalnum(),str4.isalnum()
print(substr) 

# contains whitespace
str2 = "M3onica Gell22er"
substr=str2.isalnum()
print(substr) 

# contains non-alphanumeric character 
str3 = "@Monica!"
substr=str3.isalnum()
print(substr)

(True, True)
False
False

In [31]:
#isalpha()

name = "Monica"
substr=name.isalpha()
print(substr)

# contains whitespace
name = "Monica Geller"
substr=name.isalpha()
print(substr)

# contains number
name = "Mo3nicaGell22er"
substr=name.isalpha()
print(substr)

True
False
False

In [33]:
#isdigits()

s = "28212"
substr=s.isdigit()
print(substr)

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
substr=s.isdigit()
print(substr)

True
False

In [37]:
#isnumeric()

s = "28212"
print(s.isdigit())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdigit())

string = '²3455'
print(string.isnumeric())

# string with fraction value 
fraction_string = '½123'
print(fraction_string.isnumeric())

True
False
True
True

In [ ]:


text = "Python is easy to learn."

result = text.startswith('is easy')
# returns False
print(result)

result = text.startswith('Python is ')
# returns True
print(result)

result = text.startswith('Python is easy to learn.')
# returns True
print(result)